*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.container .h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}


.text p{
    font-size: 17px;
    font-family: cursive;

}